<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<span class="white">
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <br>
</span>
  <div class="actions"><%= f.submit "Sign Up", class: "btn btn-info"%></div>
<% end %>

<%= render('layouts/errors', :object => @user) %>
</div>
<div class="col-md-4"></div>
</div>
