<!DOCTYPE html>
<html>
<head>
  <title>Spitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>

<% if request.url != root_url %>
  <% if current_user %>
    <% unless request.url == users_path %>
      <%= link_to "Home", users_path %>
    <% end %>
    <span class='white'><%= current_user.email %></span>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>

<%= flash[:notice] %>
  <%= yield %>
</div>

</body>
</html>
